/*saisie des fonts en rem
saisie des largeur en vw et vh pour le responsive
elements mis en flex pour le responsive*/
/*	color:#664730;marron	
	color: #f5fc0e; jaune
	color:#068445; vert foncé
	color:#81d27a; vert clair*/

*{
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}
body, html{

margin: 0 auto;
font-family: 'Open Sans', sans-serif;
}
body {
width: 100vw;
    font-size: 100%;
}

/*barre de nav fixe*/

i {
    padding: 0px 1vw;
    font-size: 1.4rem;
    color: #664730;
    transition: all 0.7s ease;
}
#navfixe{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
    display:flex;   
    background-color: #eee;
    opacity: 0.8;  
}
#navfixe span {
    display: flex;
 
    padding: 4px;
    height: 90px;
    align-items: center;
    transition:  all 0.6s ease; 
    box-sizing: border-box;
}

#navfixe span:hover{
    cursor: pointer;
    transform: scale(1.1);
    color:#81d27a;
}
nav a #situation{
position: absolute;
width: 15px;
top: 2.5px;
left: 77.2vw;
}
nav a p{
    position: absolute;
    font-size: 0.7rem;
    top: -5.5px;
    left: 78.5vw;
}

#navfixe #menu{
    padding-left: 5vw;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navfixe #logo {
    width: 90px;
    padding-bottom: 10px;
    padding-left: 2vw;
}
#navfixe a {
    text-decoration: none;
    font-weight: bold;
    color: #664730;
    font-size: 0.8rem;
    text-transform: uppercase;
}
#navfixe #presta{
    display: flex;
    justify-content: center;
     align-items: center;
     padding-left: 3vw;
     margin-right: 2vw;

}

#navfixe #presta img:last-of-type{

    width: 50px;
}

#navfixe #rse{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    padding-right: 10vw;

}

h1{
    margin: 0 auto;
    padding-top: 49vh;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-size: 2.2rem;
    color: #fff;
}
#four{
	height: 100vh;
    background-image: url(images/Veggie-Stand/Snapshots/Veggie-Stand.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
/*présentation fournisseurs*/
#five{
    padding: 10vh 5vw;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    flex: wrap;
	color: #664730;
}
#five h3{
    text-align: center;
}

#five img{
    display: inline-block;
    margin-left: 30%;
    width: 50%;
}
#five div{
    padding-left:2vw;
    padding-right: 2vw;
    border-right: 1px solid #eee; 
}
#five div:last-child{
  border-right: none;
}
#five div p{
    text-align: center;
    font-size: 0.9rem;
}
#five button{
    margin-top: 4vh;
    cursor: pointer;
    background-color: #f5fc0e;
    border: none;
    color:#664730;
    border-radius: 2px;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 5px;
}
#five a{
	text-decoration: none;
	color: #664730;
	font-weight: bold;
}
#trois{
    background-image: url(images/courier-1214227_1920.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    font-size: 2.1rem;
    font-family: 'Fredericka the Great', cursive;
    color:#fff;
    padding-top:40vh;
    padding-left: 35vw;
    font-weight: bold;
}



#three{
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 80vh;
}

#three p{
    position: relative;
    z-index: 1;
    color: #664730;
    font-size: 1rem;
    line-height: 22px;
    text-align: center;
    padding: 2vh 4vw;  
}

#three .pitch{
    font-size: 1.2rem;
    font-weight: bold;
}

#three .deliveroo{

	border-right: 2px solid #664730;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
#three .togoodtogo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
#three .fond2{
    position: absolute;
    z-index: 0;
    width: 50%;
    padding-top: 60vh;
}
#three a{
    width: 200px;
}

#three #antigachi{
width: 55%;
position: relative;
z-index: 1;
}
#three #livraison{
width: 85%;
position: relative;
z-index: 1;
}
#three button{
    margin-top: 4vh;
    cursor: pointer;
    background-color: #f5fc0e;
    border: none;
    color:#664730;
    border-radius: 2px;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
	font-size: 0.9rem;
}
#three button:hover{
	color:#068445;
}
/*partie footer*/

footer {
    padding: 2vh;
    background-color: #fff;
    border: 15px solid transparent;
    border-image: url(images/abstract-backdrop-background-129733.jpg)90 round;
}

footer .premierePartie{
    display: flex;
    justify-content: space-around;
}
footer .rubriques{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    padding-top: 2.5vh;
}
footer .mention{
	margin-left: 35%;
    display: inline-block;
}
footer .mention p{
	 display: inline-block;
	margin: auto;
	text-align: center;
    padding-top: 3vh;
    font-size: 0.8rem;
}
footer .paiement{
padding-top: 2.5vh;
}

footer h4 {
    margin: 0 auto;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: left;
    color: #068445;
    padding-bottom: 1vh;
}
footer  p{
    font-size: 0.8rem;
    margin-top:0;
    margin-bottom: 0;
    color: #664730;
    text-align: none;
}

footer .instfdg{
display: flex;
align-items: center;
justify-content: center;
width: 40vw;
margin-right: 3vw;
margin-left: 3vw;

}

footer .instfdg p{
	text-align: center;
font-size: 1rem;
}

footer .instfdg i{
padding: 0;
}

footer a{
    text-decoration: none;
    color: #664730;
}
footer a:hover{
    text-decoration: none;
}
footer .fb-insta{
    width: 50vw;
    height: 100%;
    margin-left: 3vw;
    padding: 0;
    background-color: #eee;
    border: 2px solid #ddd;
}
footer .paiement img{
    padding-top: 1vh;
    width: 2vw;
    height: 4vh;
}
footer .paiement .tickets{
    width: 6vw;
    height:4.5vh;
}
footer .copy{
 	display: inline-block;
    width: 4%;
    height: 4%;
    margin-left: 0.9vw;
    margin-right: 0.9vw;
}
footer #rse{
	padding-top: 4vh;
}

/*menu burger*/

#burger{
	top: 2vh;
	position: fixed;
	padding-top: 7px;
    left: 44vw;
	width: 66px;
	height: 35px;
    border-radius: 5px;
	background-color: #f5fc0e;
	z-index: 99;
	cursor: pointer;
    display: none;
    transition: 0.8s all ease-in;
}
 #burger .trait{

	display: block;
	width: 26px;
	margin-left: 20px;
	margin-top: 4px;
	background-color: #000;
	height: 2px;
	border-radius: 2px;
}
#burger:hover .tr1{
	margin-top: 10px;
	position: absolute;
	transform:translateY(0);
	transform: rotate(50deg);
	opacity: 0.8;
	transition: all 0.3s;
}
#burger:hover .tr2{
	display: none;
}
#burger:hover .tr3{
	opacity: 0.8;
	margin-top: 10px;
	position: absolute;
	transform:translateY(0);
	transform: rotate(-50deg);
	transition: all 0.3s ease-in;
}
#burger.active{
    transform: translateY(0) rotate(180deg);
    position: absolute;
}

aside{
    position: fixed;
    z-index: 2;
    top:-100vh;
    left: 25%;
    width: 45vw;
    height: 40vh;
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: #f5fc0e;
    box-shadow:  2px 2px 2px #ddd;
    transition: all 0.9s ease;
    overflow:hidden;

}
aside ul{

    margin: 0 auto;
    margin-top: 5vh;
}

aside li{
    padding: 2vh 3.5vw 0vh 5vw;
    width: 100%;
    list-style: none;

}
aside a{
    width: 50%;
    color: #664730;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    font-size: 1.2rem;
}
aside #rse2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
aside #rse2 i{
    font-size: 1.1rem;
    margin: 4vh 4vw 2vh 4vw;

}






@media screen and (min-width: 1362px) and (max-width: 1600px){


}

@media screen and (min-width: 992px) and (max-width: 1200px){
#navfixe span {
    font-size: 0.6rem;
    padding: 3px;
}
#intro .encart{
    width: 40%
    margin-left:20%;
}
#intro .description .encart p {
    font-size: 1rem;
    padding-bottom: 0;
}


}
/*@media screen and (min-device-width: 200px) and (max-device-width: 600px){}*/
@media screen and (min-width: 768px) and (max-width: 991px){
#navfixe a{
    font-size: 1rem;
}
#navfixe img {
    position: relative;
    width: 50%;
    top: -6px;
}


}



/*@media screen and (min-device-width: 200px) and (max-device-width: 600px){}*/
@media screen and (max-width: 767px){

#burger{
    display:block;
    height: 25px;
    width: 56px;
    padding-top: 3px;
}
#burger .trait{
   margin-left: 15px;
    margin-top: 3px;
}
aside{
    height: auto;
    width: 220px;
}
aside ul{
    padding-top: 2%;
    text-align: left;
    padding-left: 12%;
}
aside li a{
    font-size: 1rem;
text-align: center;
}

.active{
    overflow:visible;
    top: 0vh;
 }

body{
    font-size: 120%;
}


#navfixe{
    top: -2000vh;
    display: none;

}

}


