/*saisie des fonts en rem
saisie des largeur en vw et vh pour le responsive
elements mis en flex pour le responsive


color:#664730;marron	
	color:#f5fc0e; jaune
	color:#068445; vert foncé
	color:#81d27a; vert clair
*/

*{

    
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
.selector-for-some-widget {
  box-sizing: content-box;
}

body,
html {

    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}


}
body {
    min-width: 1201px; 
    max-width: 1361px;
    font-size: 100%;
 
}

i {
    padding: 0px 1vw;
    font-size: 1.4rem;
    color: #664730;
    transition: all 0.7s ease;
}

/*partie hero*/

header {
    position: relative;
    background-position: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/restaurant-rouen-terrasse-2_700_490.jpg);
    height: 100vh;
    width: 100vw;
}
header #logo_central{
position: relative;
z-index: 2;
margin: 0 auto;
width: 300px;
margin-top: 25vh;
margin-left: 38%;
}

header .text {
    position: absolute;
    margin-left: 2vw;
    padding-top: 40vh;
    width: 15%;
    border-bottom: 3px solid #fff;
    text-align: center;
}

header #pub {
    position: relative;
    z-index: 1;
    font-weight: bold;
    text-align: center;
    bottom: -10%;
    padding: 5%;
    color: #fff;
    font-size: 1.1rem;
}
.fa-facebook-f:hover {
    transform: scale(1.1);
	color:#2c4290;
}
.fa-twitter:hover {
	color:#1f9ceb;
    transform: scale(1.1);
}
.fa-instagram:hover{
	color:#b70786;
    transform: scale(1.1);
}
header #fond{
    position: absolute;
    z-index: 0;
    background-color: #000;
    opacity:0.5;
    width: 100vw;
    height: 100vh;
}

.texte p {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
}
h2 {
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
}
/*partie navefixe*/
#navfixe{
    width: 100vw;
    position: fixed;
    z-index: 99;
    display:flex;   
    background-color: #eee;
    opacity: 0.8;  
}
#navfixe span {
    display: flex;
 
    padding: 4px;
    height: 90px;
    align-items: center;
    transition:  all 0.6s ease; 
    box-sizing: border-box;
}

#navfixe span:hover{
    cursor: pointer;
    transform: scale(1.1);
    color:#81d27a;
}
nav a #situation{
position: absolute;
width: 15px;
top: 2.5px;
left: 77.2vw;
}
nav a p{
    position: absolute;
    font-size: 0.7rem;
    top: 2.5px;
    left: 78.5vw;
}

#navfixe #menu{
    padding-left: 5vw;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navfixe #logo {
    width: 90px;
    padding-bottom: 10px;
    padding-left: 2vw;
}
#navfixe a {
    text-decoration: none;
    font-weight: bold;
    color: #664730;
    font-size: 0.8rem;
    text-transform: uppercase;
}
#navfixe #presta{
    display: flex;
    justify-content: center;
     align-items: center;
     padding-left: 3vw;
     margin-right: 2vw;

}

#navfixe #presta img:last-of-type{

    width: 50px;
}

#navfixe #rse{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    padding-right: 10vw;

}

/*Partie présentation*/
#intro {
    height: 60vh;
    background-image: url(images/luis-angel-cardoza-rojas-197878-unsplash.jpg);
    transition: all 0.7s ease-in;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#intro #description{
    height: 80vh;
}
#intro .encart {
    position: relative;
    margin: auto;
    top: 25vh;
    width: 55vw;
    height: 50vh;
    background-color: #068445;
    border-radius: 5px;
    border: 5px solid #fff;
}
h1 {
    position: relative;
    bottom: 40vh;
    left: 38vw;
    margin: 0;
    padding:0;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    font-family: 'Fredericka the Great', cursive;
} 
#intro p {
    position: relative;
    width: 50vw;
    left: 25vw;
    bottom: 12vh;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
}
/*mise en avant des valeurs*/

#valeur{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
#valeur ul{
    margin: 0 auto;
    margin-top: 20vh;
    padding:0;
    display: flex;
    justify-content: space-around;
}
#valeur ul li{
    width: 350px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3vh 3vw;
   text-align: center;
   color:#664730;
   font-weight: bold;

}
#valeur li img{
    padding-bottom: 2vh;
}

#valeur button{
    margin-top: 7vh;
    cursor: pointer;
    background-color: #f5fc0e;
    color:#664730;
    border-radius: 2px;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 5px;
}
/*plan*/

#position{
    background-image: url(images/pexels-photo-890577.jpeg);
   background-position: center;
   background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

#position #plan{
transition: 0.6s all ease-in;
position: relative;
top: -5vh;
margin-left: 35vw;

}

#position h2{
    margin: auto;
    margin-top: 5vh;
    padding-top: 20vh;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    color:#f5fc0e;
}
#position #trouver{
   /* margin-top: 15vh;*/
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#position #trouver img{
    width: 5%;
    margin: 0;
    padding:0;
}
#position p, #position i{
    color: #fff;
    font-size: 1.1rem;
}

#position .venir div:nth-of-type(2){
    margin-top: 7vh;
}



/*espace citation*/

#citation {
    height: 90vh;
}
#citation p {
    margin-top: 35vh;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #664730;
    font-size: 1.7rem;
    text-align: center;
}
#citation p em {
    font-size: 1.3rem;
}
#citation i {
    padding: 0 25px;
}
#citation i:before {
    font-size: 25px;
    color: #664730;
}
#citation .cit {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#citation img {
    width: 40px;
}
#citation span {
    width: 450px;
    border-bottom: 1px solid #664730;
}
#citation h3 {
    margin-top: 50px;
    color: #664730;
    font-size: 1.9rem;
    opacity: 0.9;
    text-transform: uppercase;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}
#citation .arrowbottom {
    margin-left: 45%;
    width: 140px;
    animation-name: bounce;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
}

@keyframes bounce{
0%{
	transform: translateY(0);}
100%{
	transform: translateY(6px);}

}


/*partie présentation plat à la une*/

#cejour {
    
    background-image: url(images/basil-932079__480.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 10vh;
}

#cejour .ligne{
    position: absolute;
	z-index: 0;
	height: 80vh;
	width: 1vw;
	left: 28vw;
	border-right: 1px solid #fff;
}
#cejour .ligne2{
	left: 69vw;
}
#cejour .ardoise {
    margin: 0;
    position: relative;
    z-index: 1;
    padding-top: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#cejour .ardoise .menu {
    width: 400px;
    height: 280px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #fff;
    border: 19px solid transparent;
    border-image: url(images/abstract-backdrop-background-129733.jpg) 30 round;
}
#cejour .menu .tete{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
#cejour img:first-of-type {
    width: 20%;
}
#cejour .ardoise p {
    padding: 0px 9px 0 12px;
    font-size: 1rem;
    color: #664730;
}

#cejour .menu h5{
    margin:35px;
    font-weight: bold;
}
#cejour #photo1 {
    width: 90%!important;
    margin-top: 11px;
    margin-left: 11px;
    transition: 0.4 all ease-in-out;
}
#cejour #photo2 {
    width: 90%!important;
 	margin-top: 8px;
    margin-left: 11px;

}
.ardoise .photoa{
    position: relative;
	margin-top: 12vh;
	width:20%;
	height: 29%;
	background-color:#fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-bottom: 25px;
	transition: all 0.4s ease-in-out;
	transform: rotate(25deg);

}
.ardoise .photoa.float-left{
   left: -10vw;
}
.ardoise .photoa.float-right{
    right: -10vw;
}
.conteneur{
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
	color: #664730;
	letter-spacing: 1px;
	padding: 10px 20px;
	text-shadow: 1px 1px 2px #ddd;
}
.photoa:hover{
	transform: rotate(0);
     transform: scale(1.2)
}

footer {
    padding: 2vh;
    height: 45vh;
    background-color: #fff;
    border: 15px solid transparent;
    border-image: url(images/abstract-backdrop-background-129733.jpg)90 round;
}

footer .content {
    display: flex;
    justify-content: space-around;
}
footer .content .rubriques{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-around;
    margin-left: 5vw;
    padding-top: 2vh;
}
footer .mention{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer .mention p{
    padding-top: 7vh;
    font-size: 0.8rem;
}

footer .content h4 {
    margin: 0 auto;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: left;
    color: #068445;
}
footer .content p{
    font-size: 0.8rem;
    color: #664730;
    text-align: none;
}
footer .content .instfdg{
display: flex;
align-items: center;
justify-content: center;
width: 32vw;
margin-right: 10vw;
text-align: center;

}
footer a{
    text-decoration: none;
    color: #664730;
}
footer a:hover{
    text-decoration: none;
}
footer .fb-insta{
    width: 30vw;
    height: 33vh;
    margin-left: 3vw;
    padding: 0;
    background-color: #eee;
    border: 2px solid #068445;
}
footer .paiement img{
    padding-top: 1vh;
    width: 2%;
    height: 2%;
}
footer .paiement .tickets{
    width: 8%;
    height: 11%;
}
footer .copy{
    width: 1.5%;
    height: 1.5%;
    padding-top: 4.3vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

/*menu burger*/

#burger{
	top: 2vh;
	position: fixed;
	padding-top: 7px;
    left: 44%;
	width: 66px;
	height: 35px;
    border-radius: 5px;
	background-color: #f5fc0e;
	z-index: 99;
	cursor: pointer;
    display: none;
}
 #burger .trait{

	display: block;
	width: 26px;
	margin-left: 20px;
	margin-top: 4px;
	background-color: #000;
	height: 2px;
	border-radius: 2px;
}
#burger:hover .tr1{
	margin-top: 10px;
	position: absolute;
	transform:translateY(0);
	transform: rotate(50deg);
	opacity: 0.8;
	transition: all 0.3s;
}
#burger:hover .tr2{
	display: none;
}
#burger:hover .tr3{
	opacity: 0.8;
	margin-top: 10px;
	position: absolute;
	transform:translateY(0);
	transform: rotate(-50deg);
	transition: all 0.3s ease-in;
}

aside{
    position: fixed;
    z-index: 2;
    top:-100vh;
    left: 25%;
    width: 45vw;
    height: 40vh;
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: #f5fc0e;
    font-family: 'Fredericka the Great', cursive;
    box-shadow:  2px 2px 2px #ddd;
    transition: all 0.9s ease;
    overflow:hidden;

}
aside ul{

    margin: 0 auto;
    margin-top: 5vh;
}

aside li{
    padding: 1vh 4vw 0vh 5vw;
    width: 100%;
    list-style: none;

}
aside a{
    width: 50%;
    color: #664730;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    font-size: 1.2rem;
}

@media screen and (min-width: 1362px) and (max-width: 1600px){
#intro img {
    left: 300px;
}

}

@media screen and (min-width: 992px) and (max-width: 1200px){

#intro img {
    left: 240px;
    
}
#intro .encart {
    height: 60vh;

}
#intro p {
    top: -200px;

}
h1{
    top: -300px;
    left: 350px;
}
#intro span{
    top:-200px;
    left: 500px;
}

.ligne{
    left: 29vw;
}
.ligne2{
    left: 71vw;
}
.ardoise .menu {
    margin-left: 50px;
    margin-right: 50px;
}
footer{
    height: 45vh;
}
footer .content{
display: flex;
flex-direction: column;
align-items: center;
}
footer  #lieu{
    text-align: center;
    margin: 0 auto;
}
footer h4 {
    font-size: 1.3rem;
}

footer #contact{    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90vw;    
}

footer #contact h4{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 40vw;
}
 footer #contact p{
    width: 40vw;
    flex-direction: column;
    align-items: center;
 }


footer .adresse {
    width: 95vw;
    justify-content: flex-start;
}

footer .venir p{
    width: 30vw;
}
footer .reseau{
    margin-top: 20px;
}

}
/*@media screen and (min-device-width: 200px) and (max-device-width: 600px){}*/
@media screen and (min-width: 768px) and (max-width: 991px){
#navfixe a{
    font-size: 1rem;
}
#navfixe img {
    position: relative;
    width: 50%;
    top: -6px;
}
#intro img {
  display: none;
    
}
#intro .encart {
    height: 60vh;
}
#intro p {
    top: -220px;
    padding: 0vh 25vw 0vh 25vw;
}
h1{
    top: -180px;
    left: 25vw;
    font-size: 1.3rem;
}
#intro span{
    top:-140px;
    left: 35vw;
}
#citation .arrowbottom{
    margin-left: 40%;
}

.ardoise .menu {
    width: 45%;
    height: auto;
    margin: 0;
    padding: 3%;
    margin-left: 2vw;
    margin-right: 2vw;  
}

.ardoise img:first-of-type {
    width: 90px;
    margin-left:190px;
}
.menu h5{
    color: #fff;
    font-size: 1.1rem;
}
#cejour .ardoise .menu p {
    text-align: left;
    font-size: 1.1rem;

}
.#cejour .menu strong{
    text-align: right;
}
.ardoise .lien a {
    margin-top: 5vh;
    top: 0px;
    left: 90px;
    border: 2 solid #fff;
}


#photo1 {
    width: 90%!important;
    margin-top: 10px;
    margin-left: 11px;
}
#photo2 {
    width: 90%!important;
    margin-top: 10px;
    margin-left: 10px;
}

.ardoise .photoa{
    position: relative;
    margin-top: 12vh;
    width:20%;
    height: 29%;
    background-color:#fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-bottom: 25px;
    transition: all 0.3s ease;
    transform: rotate(25deg);
}
.ardoise .photoa .float-left{
   left: -10vw;
}
.ardoise .photoa .float-right{
    right: -10vw;
}
.conteneur{
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    color: #664730;
    letter-spacing: 1px;
    padding: 10px 20px;
    text-shadow: 1px 1px 2px #ddd;
}
.photoa:hover{
    transform: rotate(0) scale(1.2);
}


footer{
    height: 45vh;
}
footer .content{
display: flex;
flex-direction: column;
align-items: center;
}
footer  #lieu{
    text-align: center;
    margin: 0 auto;
}
footer h4 {
    font-size: 1.3rem;
}

footer #contact{    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 0vw;
    width: 90vw;
    text-align: center;
}

footer #contact h4{
display: flex;
flex-direction: column;
align-items: center;
width: 40vw;
}
 footer #contact p{
    width: 40vw;
    text-align: center;
 }

footer .adresse {
    width: 95vw;
    justify-content: flex-start;
}

footer .venir p{
    width: 30vw;
}
footer .reseau{
    margin-top: 20px;
}


}



/*@media screen and (min-device-width: 200px) and (max-device-width: 600px){}*/
@media screen and (max-width: 767px){

#burger{
    display:block;
    height: 25px;
    width: 56px;
    padding-top: 3px;
}
#burger .trait{
   margin-left: 15px;
    margin-top: 3px;
}
aside{
    height: auto;
    width: 220px;
}
aside ul{
    padding-top: 2%;
    text-align: left;
    padding-left: 12%;
}
aside li a{
    font-size: 1rem;
text-align: center;
}

.active{
    overflow:visible;
    top: 0vh;
 }
 header{
    background-image: url(images/IMG_2455.jpg);
 }
 header #fond{
    width: 100%;
    height:100%;
    background-color: #000;
    opacity: 0.7;
   background: rgb(251,251,250);
background: linear-gradient(180deg, rgba(251,251,250,0.2838322829131653) 2%, rgba(119,120,120,0.8104429271708684) 65%);
 }
 
 #entete header .fond img{
    width: 1%;
 }
header h2{
font-size: 1rem;
font-weight: bold;
    color: #fff;
}
header p{
    font-size: 1rem;
    color: #fff;
}
body{
    font-size: 120%;
}
#reseau {
    top: 38%;
}


#navfixe{
    top: -2000vh;
    display: none;

}

header .texte{
position: relative;
width: 45vw;
bottom: 29vh;
left: 24vw;
 font-size: 1rem;
}

#reseau {
   
    top: 80%;
    right: 27%;
  flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

i{
font-size: 2rem;
padding-bottom: 50px;
}

#intro .encart {
    top: 35vh;
    left: 11vw;
    width: 80vw;
    height: 50vh;
    margin-bottom: 20vh;
}
h1 {
    top: -30vh;
    left: 17vw;
    font-size: 1.1rem;
    
} 
#intro img {
   display: none;
}
#intro p {
    top: -250px;
    padding: 5vh 20vw 0vh 20vw;
    font-size: 0.9rem;
}

#intro span {

    left: 26vw;
    top: -23vh;
    color: #fff;

}
#citation {
    height: 80vh;
}
#citation p {
   
    font-size: 1.5rem;
    padding:0 5vw 0 5vw;
}
#citation p em {
    font-size: 1.1rem;
}

#citation i:before {
    font-size: 20px;
}
#citation .cit {
    margin-top: 50px;
}
#citation img {
    width: 30px;
}

#citation h3 {
    margin-top: 50px;
    font-size: 1.4rem;
    
}
#citation .arrowbottom {
    display: none;  
}

#cejour .menu img{
    width: 95px;

   
}
.ardoise .menu {
    width: 100%;
    height: 60vh;
    padding: 4%;
    text-align: center;
    margin: 0 3vw 10vh 3vw;


}

.ardoise h5{
  margin-top: 3vh;
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 3vh;
}

#cejour .menu strong{
    margin: 25vh 2vw 4vh 20vw;
}

#cejour .lien span{
width: 150px;
height: 50px;
border: 2 solid #f5fc0e;
padding-bottom: 5vh;
}
.ardoise .lien a{
    font-size: 1rem;
    color: #f5fc0e;
    letter-spacing: 2px;
}
.ligne, .ligne2{
    display: none;
}

.ardoise .photoa{
display: none;

}



footer{
   height: 100%;
}
footer .content{
display: flex;
flex-direction: column;
align-items: flex-start;
}
footer  #lieu{
    text-align: center;
    margin: 0 auto;
}
footer h4 {
    font-size: 1.3rem;
}

footer p {
    font-size: 1rem;
    text-align: left;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 5px;
    width: 25vw;
    color: #664730;
}

footer #contact{    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 0vw;
    width: 90vw;
    text-align: center;
}

footer #contact h4{
display: flex;
flex-direction: column;
align-items: center;
width: 40vw;
}
 footer #contact p{
    width: 40vw;
    text-align: center;
 }
footer .adresse {
    width: 90%;
    justify-content: flex-start;
}

footer .venir p{
    width: 100%;
}

footer .reseau {
    font-size: 1rem;
}
}

