/*saisie des fonts en rem
saisie des largeur en vw et vh pour le responsive
elements mis en flex pour le responsive*/


/*	color:#664730;marron	
	color:#f5fc0e; jaune
	color:#068445; vert foncé
	color:#81d27a; vert clair*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

body,
html {

    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}


}
body {
    width: 100vw;
    font-size: 100%;
}

header {
    position: relative;
    background-position: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(backgroundsitev2.png);
    height: 709px;
}

header p {
    /*modifier le texte pour le responsive*/
    position: absolute;
   bottom:2px;
    opacity: 1;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #f5fc0e;
    font-size: 1.1rem;
    text-shadow: 1px 1px 1px #bbb;
}
.fadeInLeft{
padding-left: 150px;
animation-duration: 10s;
animation-delay: 0.3s;
animation-timing-function: 9s;
animation-iteration-count: infinite;
}

#reseau {
    /*modifier l'emplacement pour le responsive*/
    position: absolute;
    top: 25%;
    right: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;

}

i {
    padding: 0px 5vw;
    padding-bottom: 70px;
    font-size: 2.5rem;
    color: #fff;
    transition: all 0.7s ease;
}
.fa-facebook-f:hover {
	color:#2c4290;
}
.fa-twitter:hover {
	color:#1f9ceb;
}
.fa-instagram:hover{
	color:#b70786;
}

.texte {
    position: absolute;
    top: 35vh;
    left: 2vw;
    width: 270px;
    border: 1px solid #fff;
    text-align: center;
}
h2 {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-style: initial;
}
nav {
    position: absolute;
    z-index: 90;
    display: flex;
    bottom: 1vh;
    justify-content: space-around;
    font-size: 1.2rem;
    font-family: 'Fredericka the Great', cursive;
    background-color: #fff;
    height: 9vh;
    vertical-align: center;
}
nav span {
    width: 285px;
    padding-top: 9px;
    text-align: center;
    transition: all 0.6s ease;
}
nav a {
    text-decoration: none;
    color: #664730;
}
nav span.jaune:hover {

    transform: scale(1.1);
}
nav a:hover {
    opacity: 1;
    color: #81d27a;
}

#navfixe {
    width: 99vw;
    height: 9vh;
    display: flex;
    justify-content: space-around;
    box-sizing: content-box;
    border: 7px solid transparent;
    border-image: url(images/abstract-backdrop-background-129733.jpg) 30 round;
    vertical-align: center;
    position: fixed;
    z-index: 99;
    top: 0vh;
    background-color: #fff; 
	overflow: hidden;
    /*pour faire apparaitre la barre, mettre visibility visible en js*/
}

#navfixe img {
    position: relative;
    width: 29%;
    top: -5px;
}
#navfixe span {
    padding-top: 5px;
}
#navfixe span:hover {
    transform: scale(1.1);
}
#navfixe span a:hover {
    color: #81d27a;
}
#intro {
    height: 100vh;
    background-image: url(images/yuman-1.jpg);
    opacity: 0.7;
    transition: all 0.7s ease-in;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
#intro:hover {

    opacity: 1;
}
#intro:hover .description {
    display: block;
}

#intro .description {

    position: relative;
    z-index: 1;
    display: none;
}

#intro .encart {
    position: relative;
    z-index: 2;
    top: 25vh;
    left: 21vw;
    width: 60vw;
    height: 40vh;
    background-color: #068445;
    opacity: 0.7;
}
h1 {
    top: -27vh;
    left: 40vw;
    margin: 0;
    padding:0;
    position: relative;
    z-index: 2;
    color: #fff;
    font-size: 1.3rem;
    text-shadow: 1px 1px 2px #000;
    font-family: 'Fredericka the Great', cursive;
    font-style: italic;
} 
#intro img {
    position: absolute;
    top: 25vh;
    left: 21vw;
    width: 13.9%;
    opacity: 0.9;
}
#intro p {
    position: relative;
    top: -70px;
    z-index: 3;
    color: #fff;
    margin: 0;
    padding: 0 23vw 20vh 33vw;
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
}

#intro span {
    position: relative;
    z-index: 3;
    left: 60vw;
    top: -24vh;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}
#intro span a {
    text-decoration: none;
    color: #fff;
}
#intro span a:hover {

    color: #f5fc0e;
}
#citation {
    height: 100vh;
}
#citation p {
    margin-top: 0;
    padding-top: 130px;
    margin-bottom: 0;
    color: #664730;
    font-size: 1.7rem;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}
#citation p em {
    font-size: 1.3rem;
}
#citation i {
    padding: 0 25px;
}
#citation i:before {
    font-size: 25px;
    color: #664730;
}
#citation .cit {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#citation img {
    width: 40px;
}
#citation span {
    width: 450px;
    border-bottom: 1px solid #664730;
}
#citation h3 {
    margin-top: 50px;
    color: #664730;
    font-size: 1.9rem;
    opacity: 0.9;
    text-transform: uppercase;
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
}
#citation .arrowbottom {
    margin-left: 650px;
    width: 140px;
    animation-name: bounce;
	animation-duration: 0.3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
}

@keyframes bounce{
0%{
	transform: translateY(0);}
100%{
	transform: translateY(6px);}

}

#cejour {
    height: 100vh;
    background-image: url(images/luis-angel-cardoza-rojas-197878-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#cejour img:first-of-type {
    width: 65px;
}
#trait1{
	position: absolute;
	z-index: 0;
	height: 100vh;
	top: 0;
	width: 1vw;
	left: 27.8vw;
	border-right: 1px solid #fff;
}
#trait2{
	position: absolute;
	z-index: 0;
	top: 0;
	height: 100vh;
	width: 1vw;
	left: 69vw;
	border-right: 1px solid #fff;
}
.ardoise {
    padding-top: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ardoise div {
    position: relative;
    margin-right: 20px;
    margin-bottom: 15px;
    width: 380px;
    height: 280px;
    background-color: #000;
    border: 17px solid transparent;
    border-image: url(images/abstract-backdrop-background-129733.jpg) 30 round;
}
.ardoise .secondardoise{
	margin-left: 190px;
}
.ardoise p {
    position: relative;
    margin-top: 5px;
    margin-bottom: 0;
    bottom: 0px;
    left: 50px;
    font-size: 1rem;
    color: #fff;
}

.ardoise .lien a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-family: 'Fredericka the Great', cursive;
    position: relative;
    font-weight: bold;
   top: 40px;
    left: 100px;
}

.ardoise .lien a:hover {
    color: #f5fc0e;
}
.ardoise span {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#photo1 {
    width: 90%!important;
    margin-top: 10px;
    margin-left: 11px;
}
#photo2 {
    width: 90%!important;
 	margin-top: 10px;
    margin-left: 10px;
}
.polaroid1{
	margin-left: 295px;
	margin-top: 40px;
	width:15%;
	height: 27%;
	background-color:#fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-bottom: 25px;
	transition: all 0.3s ease;
	transform: rotate(25deg);
}
.conteneur{
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
	color: #664730;
	letter-spacing: 1px;
	padding: 10px 20px;
	text-shadow: 1px 1px 2px #ddd;
}
.polaroid1:hover{
	transform: rotate(0) scale(1.2);
}
.polaroid2{
	margin-left: 890px;
	margin-top: -210px;
	width:15%;
	height: 27%;
	background-color:#fff;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-bottom: 25px;
	transition: all 0.3s ease;
	transform: rotate(25deg);
}
.polaroid2:hover{
	transform: rotate(0) scale(1.2);
}
footer {
    height: 330px;
    background-image: url(images/abstract-backdrop-background-129733.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer .content {
	margin-top: 1vh;
    margin-left: 1vw;
    display: flex;
    justify-content: space-between;
}

footer p {
    width: 400px;
    color: #fff;
}
footer h4 {
    letter-spacing: 2px;
    font-size: 1rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Fredericka the Great', cursive;
    text-align: justify;
    color: #f5fc0e;
}
/*footer .gps {
    padding-left: 40px;
}*/
footer #lieu {
    text-align: left;
    margin-left: 26vw;
}

footer h4:last-of-type {
    margin-top: 27px;
}
footer p {
    font-size: 1rem;
    text-align: justify;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 5px;
}
footer i {
    padding: 0;
    padding: 0px padding-bottom: 80px;
    font-size: 2.1rem;
    color: #fff;
    transition: all 0.7s ease;
}

footer .fa-facebook-f:hover {
    color: #2c4290;
}
footer .fa-twitter:hover {
    color: #1f9ceb;
}
footer .fa-instagram:hover {
    color: #b70786;
}
footer #fbk:hover {
    color: #2c4290;
}
footer #twit:hover {
    color: #1f9ceb;
}
footer #insta:hover {
    color: #b70786;
}

footer .contact{
	margin-top: 70px;
}

footer .reseau {
    margin-top: 10px;
    margin-right: 2vw;	
    display: flex;
    justify-content: space-around;
}
footer img {
    width: 48px;
    height: 48px;
    transition: all 0.3s ease;
}
footer #livraison {
    width: 49px;
    height: 49px;
}
footer #plan {
	margin: 10px 10px 10px -60px;
	height: 226px;
	width:276px;
	border-radius: 5px;
    color: #fff;
    border: 3px solid #fff;
}
footer .adresse {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .venir i{

	font-size: 1.1rem;
	color:#f5fc0e;
}
footer .venir{
	padding-left: 30px;
}
footer a {
    text-decoration: none;
    color: #fff;
}
footer a img:hover {
    transform: scale(1.2);
}
