/*saisie des fonts en rem
saisie des largeur en vw et vh pour le responsive
elements mis en flex pour le responsive*/
/*	color:#664730;marron	
	color: #f5fc0e; jaune
	color:#068445; vert foncé
	color:#81d27a; vert clair*/

*{
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}
body,html{
margin: 0 auto;
font-family: 'Open Sans', sans-serif; }
}
body {
    min-width: 1201px; 
    max-width: 1361px;
    font-size: 100%;
}

strong{
	font-weight: bold;
		color:#664730;
	font-size: 1rem;
}


i {
    padding: 0px 1vw;
    font-size: 1.4rem;
    color: #664730;
    transition: all 0.7s ease;
}
#navfixe{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
    display:flex;   
    background-color: #eee;
    opacity: 0.8;  
}
#navfixe span {
    display: flex;
    padding: 4px;
    height: 90px;
    align-items: center;
    transition:  all 0.6s ease; 
    box-sizing: border-box;
}

#navfixe span:hover{
    cursor: pointer;
    transform: scale(1.1);
    color:#81d27a;
}
nav a #situation{
position: absolute;
width: 15px;
top: 2.5px;
left: 77.2vw;
}
nav a p{
    position: absolute;
    font-size: 0.7rem;
    top: 2.5px;
    left: 78.5vw;
}

#navfixe #menu{
    padding-left: 5vw;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navfixe #logo {
    width: 90px;
    padding-bottom: 10px;
    padding-left: 2vw;
}
#navfixe a {
    text-decoration: none;
    font-weight: bold;
    color: #664730;
    font-size: 0.8rem;
    text-transform: uppercase;
}
#navfixe #presta{
    display: flex;
    justify-content: center;
     align-items: center;
     padding-left: 3vw;
     margin-right: 2vw;

}

#navfixe #presta img:last-of-type{

    width: 50px;
}

#navfixe #rse{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    padding-right: 10vw;

}
#one #fond{
	position: relative;
    width: 100%;
    height:100%;
    opacity: 0.4;
    z-index: 0;
	background-color:#000;
 }

#one h1{
	position: relative;
	font-family:'Fredericka the Great', cursive;
	z-index: 2;
	margin: 0 auto;
    padding-top: 45vh;
    text-align: center;
    color: #fff;
    font-size: 2.3rem;
}
#interieur{
	width: 100%;
	height: 100vh;
	background-image: url(images/bread-399286__480.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#one p{
	z-index: 3;
	color: #664730;
	width: 95%;
	font-weight: normal;
	text-align: center;
	padding: 20px 100px 0px 100px;
	margin-top: 0;
}
#one p:last-child{
	padding: 0px 100px 0px 100px;

}
#two{
	width: 100%;
	height: 100vh;
	background-image: url(images/melissa-belanger-544371-unsplash.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#petitdej{
	position: relative;
	margin:0 auto;
	margin-bottom: 100px;
	top: 5vh;
	border: 19px solid transparent;
	border-image:url(images/abstract-backdrop-background-129733.jpg) 90 round;
	box-shadow: 2px 1px 12px 3px #ccc;
	width: 80%;
	height: 70vh;
	display: flex;
	justify-content:space-around;
}
#petitdej img{
	height: 45%;
	opacity: 0.9;
	padding-left: 50px;

}
#petitdej #partieg{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 30vw;
}

#petitdej .menu{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
#petitdej span{
width: 35vw;
text-align: center;
}


#petitdej h3, #petitdej p{
	margin: 0 auto;
	color: #664730;
	font-weight: bold;
	font-size: 1rem;
	text-align: center;
}
#petitdej p{
	padding-top:2vh;
	font-weight: normal;

}
#petitdej h2{
	margin-top:5vh;
	margin-bottom: 50px;
	margin-left: 50px;
	letter-spacing: 2px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.6rem;
	color: #664730;
}
#petitdej .encart1{
padding-top:1vh;
	width: 100%;
	height: 6vh;
	background-color: #81d27a;
	opacity: 0.9;
}
#petitdej .encart2{
	padding-top:1vh;
	width: 100%;
	height: 6vh;
	background-color: #81d27a;
	opacity: 0.9;
}
#petitdej  h3{
	font-size: 1.1rem;
	color: #fff;
}

#dejeuner{
	margin:0 auto;
	margin-top: 10vh;
	padding: 1%;
	width: 80%;
	height: 85vh;
	border: 19px solid transparent;
	border-image:url(images/abstract-backdrop-background-129733.jpg) 90 round;
	box-shadow: 2px 1px 12px 3px #ccc;

}
#dejeuner h2{
	
margin: auto;
margin-top:10vh;
text-align: center;
letter-spacing: 2px;
font-family: 'Fredericka the Great', cursive;
font-size: 1.6rem;
color: #664730;
}
#dejeuner ul{
	width: 95%;
	height: 95%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;

}
#dejeuner li{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#dejeuner p{
	z-index: 3;
	color: #664730;
	font-size:1rem;
	font-weight: normal;
}
#dejeuner .fin{
	width: 26vw;
	margin-top: 1vh;
	text-align: justify;
}
#dejeuner h3{
	margin-top: 5vh;
	color: #664730;
	letter-spacing: 2px;
	font-family: 'Fredericka the Great', cursive;
}
#dejeuner h4{
	width: 250px;
	background-color: #81d27a;
	opacity: 0.9;
	text-align: center;
	color: #fff;
	font-size:1rem;	
}
#dejeuner p{
	width: 250px;
	padding: 0;
	margin: 0;
}

#dejeuner ul li:nth-child(2) img{
	position: absolute;
	z-index: 0;
	opacity: 0.3;
	height: 80vh;
	padding-top: 22vh;
	box-sizing: border-box;
}
#dejeuner ul li:nth-child(2) h3{
	padding-top: 10vh;
}

#banniere{
	height: 80vh;
	width: 100vw;
	margin-top: 10vh;
	background-image: url(images/james-sutton-207988-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
}
/*partie footer*/

footer {
    padding: 2vh;
    background-color: #fff;
    border: 15px solid transparent;
    border-image: url(images/abstract-backdrop-background-129733.jpg)90 round;
}

footer .premierePartie{
    display: flex;
    justify-content: space-around;
}
footer .rubriques{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    padding-top: 2.5vh;
}
footer .mention{
	margin-left: 35%;
    display: inline-block;
}
footer .mention p{
	 display: inline-block;
	margin: auto;
	text-align: center;
    padding-top: 3vh;
    font-size: 0.8rem;
}
footer .paiement{
padding-top: 2.5vh;
}

footer h4 {
    margin: 0 auto;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: left;
    color: #068445;
    padding-bottom: 1vh;
}
footer  p{
    font-size: 0.8rem;
    margin-top:0;
    margin-bottom: 0;
    color: #664730;
    text-align: none;
}

footer .instfdg{
display: flex;
align-items: center;
justify-content: center;
width: 40vw;
margin-right: 3vw;
margin-left: 3vw;

}

footer .instfdg p{
text-align: center;
font-size: 1rem;
}

footer .instfdg i{
padding: 0;
}

footer a{
    text-decoration: none;
    color: #664730;
}
footer a:hover{
    text-decoration: none;
}
footer .fb-insta{
    width: 50vw;
    height: 100%;
    margin-left: 3vw;
    padding: 0;
    background-color: #eee;
    border: 2px solid #ddd;
}
footer .paiement img{
    padding-top: 1vh;
    width: 2vw;
    height: 4vh;
}
footer .paiement .tickets{
    width: 6vw;
    height:4.5vh;
}
footer .copy{
 	display: inline-block;
    width: 4%;
    height: 4%;
    margin-left: 0.9vw;
    margin-right: 0.9vw;
}
footer #rse{
	padding-top: 4vh;
}

/*menu burger*/

#burger{
	top: 2vh;
	position: fixed;
	padding-top: 7px;
    left: 44vw;
	width: 66px;
	height: 35px;
    border-radius: 5px;
	background-color: #f5fc0e;
	z-index: 99;
	cursor: pointer;
    display: none;
    transition: 0.8s all ease-in;
}
 #burger .trait{

	display: block;
	width: 26px;
	margin-left: 20px;
	margin-top: 4px;
	background-color: #000;
	height: 2px;
	border-radius: 2px;
}
#burger:hover .tr1{
	margin-top: 10px;
	position: absolute;
	transform:translateY(0);
	transform: rotate(50deg);
	opacity: 0.8;
	transition: all 0.3s;
}
#burger:hover .tr2{
	display: none;
}
#burger:hover .tr3{
	opacity: 0.8;
	margin-top: 10px;
	position: absolute;
	transform:translateY(0);
	transform: rotate(-50deg);
	transition: all 0.3s ease-in;
}
#burger.active{
    transform: translateY(0) rotate(180deg);
    position: absolute;
}

aside{
    position: fixed;
    z-index: 2;
    top:-100vh;
    left: 25%;
    width: 45vw;
    height: 40vh;
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: #f5fc0e;
    box-shadow:  2px 2px 2px #ddd;
    transition: all 0.9s ease;
    overflow:hidden;

}
aside ul{

    margin: 0 auto;
    margin-top: 5vh;
}

aside li{
    padding: 2vh 3.5vw 0vh 5vw;
    width: 100%;
    list-style: none;

}
aside a{
    width: 50%;
    color: #664730;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    font-size: 1.2rem;
}
aside #rse2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
aside #rse2 i{
    font-size: 1.1rem;
    margin: 4vh 4vw 2vh 4vw;

}



@media screen and (min-width: 992px) and (max-width: 1200px){

#navfixe span {
	font-size: 0.6rem;
    padding: 3px;
}
#intro .encart{
	width: 40%
	margin-left:20%;
}
#intro .description .encart p {
    font-size: 1rem;
    padding-bottom: 0;
}

footer{
    height: 75vh;
}
footer .content{
display: flex;
flex-direction: column;
align-items: center;
}
footer  #lieu{
    text-align: center;
    margin: 0 auto;
}
footer h4 {
    font-size: 1.3rem;
}

footer #contact{    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90vw;    
}

footer #contact h4{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 40vw;
}
 footer #contact p{
    width: 40vw;
    flex-direction: column;
    align-items: center;
 }


footer .adresse {
    width: 95vw;
    justify-content: flex-start;
}

footer .venir p{
    width: 30vw;
}
footer .reseau{
    margin-top: 20px;
}
}
@media screen and (min-width: 768px) and (max-width: 991px){

#three p{
	text-align: center;
	vertical-align: center;
	font-size: 1rem;
	width: 100%;
	margin: 0;
	margin-top: 2vh;
}
#three .togoodtogo{
	
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 15%;
}
#three #livraison{

	top: -18px;
	right: 8vw;
	width: 115%;
}
#three #antigachi{
	top: -30px;
	right: -1vw;

}
#three  .pitch{
	padding: 12vh 1vw 3vh 10vw;

	}
#three .ubereat{
margin-right: 9%;
padding-right: 2%;
}
footer{
    height: 45vh;
}
footer .content{
display: flex;
flex-direction: column;
align-items: center;
}
footer  #lieu{
    text-align: center;
    margin: 0 auto;
}
footer h4 {
    font-size: 1.3rem;
}

footer #contact{    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 0vw;
    width: 90vw;
    text-align: center;
}

footer #contact h4{
display: flex;
flex-direction: column;
align-items: center;
width: 40vw;
}
 footer #contact p{
    width: 40vw;
    text-align: center;
 }

footer .adresse {
    width: 95vw;
    justify-content: flex-start;
}

footer .venir p{
    width: 30vw;
}
footer .reseau{
    margin-top: 20px;
}

}
@media screen and (max-width: 767px){
body{
    font-size: 120%;
}
	
#navfixe{
    top: -2000vh;
    display: none;

}
#burger{
	z-index: 99;
    display:block;
    height: 25px;
    width: 56px;
    padding-top: 3px;
}
#burger .trait{
   margin-left: 15px;
    margin-top: 3px;

}
aside{
    height: auto;
    width: 220px;
}
aside ul{
    padding-top: 2%;
    text-align: left;
    padding-left: 12%;
}
aside li a{
    font-size: 1rem;
text-align: center;
}
.active{
    overflow:visible;
    top: 1vh;
    z-index: 90;

 }
#one h1{
padding-top: 8vh;
}
#one p{	
	padding: 10px 30px 0px 30px;
}
#petitdej{
	margin-top: 10vh;
	width: 99%;
	height: 80vh;
}
#petitdej img{
	width: 60%;
	height: 24%;
	margin-left: 5vw;

}
#petitdej #partieg{
	width: 280px;
}

#petitdej span{

	width: 80%;
	right: 3vw;
	top: 1vh;
}

#petitdej h2{
	margin-left: 30px;
	font-size: 1.4rem;
	
}
#petitdej .encart1{
	width: 35%;
	top: 11.5vh;
	opacity: 0.8;
}
#petitdej .encart2{
	width: 35%;
	top: 47.5vh;
	opacity: 0.8;
}
#dejeuner{
	margin:0 auto;
	margin-top: 5vh;
	width: 99%;
	height: 100%;
	border: 10px solid transparent;
	border-image:url(images/abstract-backdrop-background-129733.jpg) 90 round;
	box-shadow: 4px 4px 5px #bbb;
}

#dejeuner ul{
	width: 99%;
	height: auto;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content:flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
#dejeuner li{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#dejeuner img{
display: none;
}

#dejeuner p{
	font-size:1.1rem;

}
#dejeuner .fin{
	width: 90%;
	margin-top: 3vh;
	margin-bottom: 5vh;
}
#dejeuner h3{
	padding-top: 5vh;
	margin-bottom: 0vh;
}

#dejeuner p{
	width: 90vw;
}
#three{
	height: 110vh;
}
#three p{
	text-align: center;
	vertical-align: center;
	font-size: 1.1rem;
	width: 100%;
	margin: 0;
	margin-top: 4vh;
	padding-top: 3vh;
} 
#three .ubereat{
padding-top: 7vh;
margin-right: 9%;
padding-right: 2%;
height: 140px;
overflow-y: hidden;
overflow-y: scroll;
}
#three .togoodtogo{
	display: block;
	margin-top: 3.5vh;
	width: 82%;
	margin-left: 9%;
	height: 140px;
	overflow: scroll;
}
#three .togoodtogo p{
	display: inline-block;
	width: 75%;
	margin-left: 9%;
}

#three #livraison{
	position: relative;
	z-index: 99;
	top:-3vh;
	left: 2vw;
	width: 90%;
}
#three #antigachi{
	position: relative;
	z-index: 99;
	top:-25vh;
	left: 62vw;
	width: 20%;
}
#three .pitch{
padding: 17vh 1vw 3vh 10vw;
}
#three .last{
padding: 6vh 1vw 0vh 10vw;
}

 footer{
    height: 100%;
}
footer .content{
display: flex;
flex-direction: column;
align-items: flex-start;
}
footer  #lieu{
    text-align: center;
    margin: 0 auto;
}
footer h4 {
    font-size: 1.3rem;
}

footer p {
    font-size: 1rem;
    text-align: left;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 5px;
    width: 25vw;
    color: #664730;
}

footer #contact{    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 0vw;
    width: 90vw;
    text-align: center;
}

footer #contact h4{
display: flex;
flex-direction: column;
align-items: center;
width: 40vw;
}
 footer #contact p{
    width: 49vw;
padding-left: 20px;
    text-align: center;
 }
footer .adresse {
    width: 90%;
    justify-content: flex-start;
}

footer .venir p{
    width: 100%;
}

footer .reseau {
    font-size: 1rem;
}
}