/*saisie des fonts en rem
saisie des largeur en vw et vh pour le responsive
elements mis en flex pour le responsive*/
/*	color:#664730;marron	
	color: #f5fc0e; jaune
	color:#068445; vert foncé
	color:#81d27a; vert clair*/

*{
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}
html{
margin: 0 auto;
font-family: 'Open Sans', sans-serif; }
}
body {
    min-width: 1201px; 
    max-width: 1361px;
    font-size: 100%;
}
strong{
	font-family:'Fredericka the Great', cursive;
	color:#664730;
	font-size: 1.3rem;
}

i {
    padding: 0px 1vw;
    font-size: 1.4rem;
    color: #664730;
    transition: all 0.7s ease;
}
#navfixe{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
    display:flex;   
    background-color: #eee;
    opacity: 0.8;  
}
#navfixe span {
    display: flex;
    padding: 4px;
    height: 90px;
    align-items: center;
    transition:  all 0.6s ease; 
    box-sizing: border-box;
}

#navfixe span:hover{
    cursor: pointer;
    transform: scale(1.1);
    color:#81d27a;
}
nav a #situation{
position: absolute;
width: 15px;
top: 2.5px;
left: 77.2vw;
}
nav a p{
    position: absolute;
    font-size: 0.7rem;
    top: -5.5px;
    left: 78.5vw;
}

#navfixe #menu{
    padding-left: 5vw;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navfixe #logo {
    width: 90px;
    padding-bottom: 10px;
    padding-left: 2vw;
}
#navfixe a {
    text-decoration: none;
    font-weight: bold;
    color: #664730;
    font-size: 0.8rem;
    text-transform: uppercase;
}
#navfixe #presta{
    display: flex;
    justify-content: center;
     align-items: center;
     padding-left: 3vw;
     margin-right: 2vw;

}

#navfixe #presta img:last-of-type{

    width: 50px;
}

#navfixe #rse{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    padding-right: 10vw;

}
#one{
	width:100%;
	height: 100vh;
}
#one h1{
	margin-top: 120px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.4rem;
	text-align: center;
	letter-spacing: 2px;
	color: #664730;
}
#interieur{
	width: 100%;
	height: 65vh;
	background-image: url(images/raw.jpeg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#one p{
	z-index: 3;
	color: #664730;
	width: 95%;
	font-weight: normal;
	text-align: center;
	padding: 10px 100px 0px 100px;
	margin-top: 0;
}
#two{
	width: 100%;
	height: 100vh;
	background-image: url(images/resto-bio-adam-eve.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#petitdej{
	position: relative;
	margin:0 auto;
	margin-bottom: 100px;
	top: 5vh;
	border: 15px solid transparent;
	border-image:url(images/abstract-backdrop-background-129733.jpg) 90 round;
	width: 80%;
	height: 70vh;
	display: flex;
	justify-content:space-around;
}
#petitdej img{
/*	position: relative;*/
	width: 75%;
	height: 55%;
	opacity: 0.9;
	padding-left: 50px;

}
#petitdej #partieg{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 280px;
}

#petitdej .menu{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
/*	margin-right: 60px;*/
}
#petitdej span{
	position: relative;
	z-index: 98;
	right: 3vw;
	top: 2.6vh;
}
#petitdej span:last-of-type{
	top: -1vh;
}

#petitdej h3,p{
	z-index: 3;
	position: relative;
	z-index: 99;
	color: #664730;
	font-weight: bold;
	opacity: 1;
	font-size: 1rem;
	text-align: center;
}
#petitdej p{

	font-weight: normal;

}
#petitdej h2{
	margin-top:20px;
	margin-left: 50px;
	letter-spacing: 2px;
	font-family: 'Fredericka the Great', cursive;
	font-size: 1.6rem;
	color: #664730;
}
#petitdej .encart1{
	width: 22vw;
	height: 5vh;
	position: absolute;
	z-index: 1;
	top: 12vh;
	left: 58%;
	background-color: #81d27a;
	opacity: 0.9;
}
#petitdej .encart2{
	width: 22vw;
	height: 5vh;
	position: absolute;
	z-index: 1;
	top: 41vh;
	left: 58%;
	background-color: #81d27a;
	opacity: 0.9;
}
#petitdej  h3{
	font-size: 1.1rem;
	color: #fff;
}

#dejeuner{
	margin:0 auto;
	margin-top: 5vh;
	width: 99.9%;
	height: 85vh;
	border: 10px solid transparent;
	border-image:url(images/abstract-backdrop-background-129733.jpg) 90 round;
	box-shadow: 4px 4px 5px #bbb;

}
#dejeuner h2{
	
margin: auto;
margin-top:20px;
text-align: center;
letter-spacing: 2px;
font-family: 'Fredericka the Great', cursive;
font-size: 1.6rem;
color: #664730;
}
#dejeuner ul{
	width: 95%;
	height: 95%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;

}
#dejeuner li{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#dejeuner img{
	width: 55%;
	height: 110%;
	opacity: 0.9;
	padding-top: 40px	
}

#dejeuner p{
	z-index: 3;
	color: #664730;
	font-size:1rem;
	font-weight: normal;
}
#dejeuner .fin{
	width: 30vw;
	text-align: justify;
}
#dejeuner h3{
	color: #664730;
	letter-spacing: 2px;
	font-family: 'Fredericka the Great', cursive;
}
#dejeuner h4{
	width: 250px;
	background-color: #81d27a;
	opacity: 0.9;
	text-align: center;
	color: #fff;
	font-size:1rem;	
}
#dejeuner p{
	width: 250px;
	padding: 0;
	margin: 0;
}


footer {
    padding: 2vh 1vw;
    height: 60vh;
    border: 15px solid transparent;
    border-image: url(images/abstract-backdrop-background-129733.jpg)90 round;
 
}

footer .content {

	margin-top: 1vh;
    margin-left: 1vw;
    display: flex;
    justify-content: space-between;
}

footer .content h4 {
    margin: 0 auto;
    letter-spacing: 2px;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Fredericka the Great', cursive;
    text-align: left;
    color: #068445;
}

footer #lieu {
    text-align: left;
    margin-top: 2vh;
    margin-left: 30vw;
}


footer p {
    font-size: 1rem;
    text-align: left;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 5px;
    width: 25vw;
    color: #664730;
}
footer i {
    padding: 0px;
    font-size: 1.5rem;
    color: #664730;
    transition: all 0.7s ease;
}

footer .fa-facebook-f:hover {
    color: #2c4290;
}
footer .fa-twitter:hover {
    color: #1f9ceb;
}
footer .fa-instagram:hover {
    color: #b70786;
}
footer #fbk:hover {
    text-decoration: none;
    color: #2c4290;
}
footer #twit:hover {
    text-decoration: none;
    color: #1f9ceb;
}
footer #insta:hover {
    text-decoration: none;
    color: #b70786;
}

footer #contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
	margin-right: 5vw;
    padding-left: 0;
    margin-left: 0;
}
footer #contact h4:last-of-type{
margin-top: 5vh;
display: flex;
flex: wrap;
padding-right: 1vw;
}
footer #contact p{
    display: flex;
    justify-content: flex-start;
    flex: wrap;
    padding-right: 1vw;
}

footer .reseau {
    display: flex;
    align-content: center;
    justify-content: space-around;
}
footer img {
    width: 48px;
    height: 48px;
    transition: all 0.3s ease;

}
footer #livraison {
    width: 55px;
    height: 55px;
    margin-right: 15vw;

}
footer #plan {
	margin: 4vh 1vw;
	height: 180px;
	width:246px;
	border-radius: 5px;
    color: #fff;
    border: 3px solid #fff;
}
footer .adresse {
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .venir i{
	font-size: 1.1rem;
	color:#068445;
}
footer .venir{
	padding-left: 2vw;
}
footer a {
    text-decoration: none;
    color: #664730;
    align-items: center;
}
footer a img:hover {
    transform: scale(1.2);
}
footer #presta{
    display: flex;
    justify-content: space-around;
    margin-left: 8vw;
}

/*menu burger*/

#burger{
	top: 2vh;
	position: fixed;
	padding-top: 7px;
    left: 44%;
	width: 66px;
	height: 35px;
    border-radius: 5px;
	background-color: #f5fc0e;
	z-index: 1;
	cursor: pointer;
    display: none;
}
 #burger .trait{

	display: block;
	width: 26px;
	margin-left: 20px;
	margin-top: 4px;
	background-color: #000;
	height: 2px;
	border-radius: 2px;
}
#burger:hover .tr1{
	margin-top: 10px;
	position: absolute;
	transform:translateY(0);
	transform: rotate(50deg);
	opacity: 0.8;
	transition: all 0.3s;
}
#burger:hover .tr2{
	display: none;
}
#burger:hover .tr3{
	opacity: 0.8;
	margin-top: 10px;
	position: absolute;
	transform:translateY(0);
	transform: rotate(-50deg);
	transition: all 0.3s ease-in;
}

aside{
    position: fixed;
    z-index: 3;
    top:-100vh;
    left: 25%;
    width: 45vw;
    height: 37vh;
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: #f5fc0e;
    font-family: 'Fredericka the Great', cursive;
    box-shadow:  2px 2px 2px #ddd;
    transition: all 0.9s ease;
    overflow:hidden;

}
aside ul{

    margin: 0 auto;
    padding: 0;
    padding-top: 17px;
}

aside li{
    padding: 1vh 4vw 0vh 5vw;
    width: 100%;
    list-style: none;

}
aside a{
    width: 100%;
    color: #664730;
    text-decoration: none;
    font-weight: normal;
    text-align: left;
    font-size: 1.2rem;
}


@media screen and (min-width: 992px) and (max-width: 1200px){


footer{
    height: 75vh;
}
footer .content{
display: flex;
flex-direction: column;
align-items: center;
}
footer  #lieu{
    text-align: center;
    margin: 0 auto;
}
footer h4 {
    font-size: 1.3rem;
}

footer #contact{    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90vw;    
}

footer #contact h4{
display: flex;
flex-direction: column;
align-items: flex-start;
width: 40vw;
}
 footer #contact p{
    width: 40vw;
    flex-direction: column;
    align-items: center;
 }


footer .adresse {
    width: 95vw;
    justify-content: flex-start;
}

footer .venir p{
    width: 30vw;
}
footer .reseau{
    margin-top: 20px;
}
}
@media screen and (min-width: 768px) and (max-width: 991px){

#three p{
	text-align: center;
	vertical-align: center;
	font-size: 1rem;
	width: 100%;
	margin: 0;
	margin-top: 2vh;
}
#three .togoodtogo{
	
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-left: 15%;
}
#three #livraison{

	top: -18px;
	right: 8vw;
	width: 115%;
}
#three #antigachi{
	top: -30px;
	right: -1vw;

}
#three  .pitch{
	padding: 12vh 1vw 3vh 10vw;

	}
#three .ubereat{
margin-right: 9%;
padding-right: 2%;
}
footer{
    height: 45vh;
}
footer .content{
display: flex;
flex-direction: column;
align-items: center;
}
footer  #lieu{
    text-align: center;
    margin: 0 auto;
}
footer h4 {
    font-size: 1.3rem;
}

footer #contact{    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 0vw;
    width: 90vw;
    text-align: center;
}

footer #contact h4{
display: flex;
flex-direction: column;
align-items: center;
width: 40vw;
}
 footer #contact p{
    width: 40vw;
    text-align: center;
 }

footer .adresse {
    width: 95vw;
    justify-content: flex-start;
}

footer .venir p{
    width: 30vw;
}
footer .reseau{
    margin-top: 20px;
}

}
@media screen and (max-width: 767px){
body{
    font-size: 120%;
}
	
#navfixe{
    top: -2000vh;
    display: none;

}
#burger{
    display:block;
    height: 25px;
    width: 56px;
    padding-top: 3px;
}
#burger .trait{
   margin-left: 15px;
    margin-top: 3px;

}
aside{
    height: auto;
    width: 220px;
}
aside ul{
    padding-top: 2%;
    text-align: left;
    padding-left: 12%;
}
aside li a{
    font-size: 1rem;
    font-weight: bold;
text-align: center;
}
.active{
    overflow:visible;
    top: 8.5vh;
    z-index: 99;
 }
#one h1{
margin-top: 8vh;
}
#one p{	
	padding: 10px 30px 0px 30px;
}
#petitdej{
	margin-top: 10vh;
	width: 99%;
	height: 80vh;
}
#petitdej img{
	width: 60%;
	height: 24%;
	margin-left: 5vw;

}
#petitdej #partieg{
	width: 280px;
}

#petitdej span{

	width: 80%;
	right: 3vw;
	top: 1vh;
}

#petitdej h2{
	margin-left: 30px;
	font-size: 1.4rem;
	
}
#petitdej .encart1{
	width: 35%;
	top: 11.5vh;
	opacity: 0.8;
}
#petitdej .encart2{
	width: 35%;
	top: 47.5vh;
	opacity: 0.8;
}
#dejeuner{
	margin:0 auto;
	margin-top: 5vh;
	width: 99%;
	height: 100%;
	border: 10px solid transparent;
	border-image:url(images/abstract-backdrop-background-129733.jpg) 90 round;
	box-shadow: 4px 4px 5px #bbb;
}

#dejeuner ul{
	width: 99%;
	height: auto;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content:flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
}
#dejeuner li{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#dejeuner img{
display: none;
}

#dejeuner p{
	font-size:1.1rem;

}
#dejeuner .fin{
	width: 90%;
	margin-top: 3vh;
	margin-bottom: 5vh;
}
#dejeuner h3{
	padding-top: 5vh;
	margin-bottom: 0vh;
}

#dejeuner p{
	width: 90vw;
}
#three{
	height: 110vh;
}
#three p{
	text-align: center;
	vertical-align: center;
	font-size: 1.1rem;
	width: 100%;
	margin: 0;
	margin-top: 4vh;
	padding-top: 3vh;
} 
#three .ubereat{
padding-top: 7vh;
margin-right: 9%;
padding-right: 2%;
height: 140px;
overflow-y: hidden;
overflow-y: scroll;
}
#three .togoodtogo{
	display: block;
	margin-top: 3.5vh;
	width: 82%;
	margin-left: 9%;
	height: 140px;
	overflow: scroll;
}
#three .togoodtogo p{
	display: inline-block;
	width: 75%;
	margin-left: 9%;
}

#three #livraison{
	position: relative;
	z-index: 99;
	top:-3vh;
	left: 2vw;
	width: 90%;
}
#three #antigachi{
	position: relative;
	z-index: 99;
	top:-25vh;
	left: 62vw;
	width: 20%;
}
#three .pitch{
padding: 17vh 1vw 3vh 10vw;
}
#three .last{
padding: 6vh 1vw 0vh 10vw;
}

 footer{
    height: 100%;
}
footer .content{
display: flex;
flex-direction: column;
align-items: flex-start;
}
footer  #lieu{
    text-align: center;
    margin: 0 auto;
}
footer h4 {
    font-size: 1.3rem;
}

footer p {
    font-size: 1rem;
    text-align: left;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 5px;
    width: 25vw;
    color: #664730;
}

footer #contact{    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-right: 0vw;
    width: 90vw;
    text-align: center;
}

footer #contact h4{
display: flex;
flex-direction: column;
align-items: center;
width: 40vw;
}
 footer #contact p{
    width: 49vw;
padding-left: 20px;
    text-align: center;
 }
footer .adresse {
    width: 90%;
    justify-content: flex-start;
}

footer .venir p{
    width: 100%;
}

footer .reseau {
    font-size: 1rem;
}
}