/*saisie des fonts en rem
saisie des largeur en vw et vh pour le responsive
elements mis en flex pour le responsive*/
/*	color:#664730;marron	
	color: #f5fc0e; jaune
	color:#068445; vert foncé
	color:#81d27a; vert clair*/

*{
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}
body, html{

margin: 0 auto;
font-family: 'Open Sans', sans-serif; }
}
body {
    min-width: 1201px; 
    max-width: 1361px;
    font-size: 100%;
}

i {
    padding: 0px 1vw;
    font-size: 1.4rem;
    color: #664730;
    transition: all 0.7s ease;
}
#navfixe{
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
    display:flex;   
    background-color: #eee;
    opacity: 0.8;  
}
#navfixe span {
    display: flex;
 
    padding: 4px;
    height: 90px;
    align-items: center;
    transition:  all 0.6s ease; 
    box-sizing: border-box;
}

#navfixe span:hover{
    cursor: pointer;
    transform: scale(1.1);
    color:#81d27a;
}
nav a #situation{
position: absolute;
width: 15px;
top: 2.5px;
left: 77.2vw;
}
nav a p{
    position: absolute;
    font-size: 0.7rem;
    top: -5.5px;
    left: 78.5vw;
}

#navfixe #menu{
    padding-left: 5vw;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navfixe #logo {
    width: 90px;
    padding-bottom: 10px;
    padding-left: 2vw;
}
#navfixe a {
    text-decoration: none;
    font-weight: bold;
    color: #664730;
    font-size: 0.8rem;
    text-transform: uppercase;
}
#navfixe #presta{
    display: flex;
    justify-content: center;
     align-items: center;
     padding-left: 3vw;
     margin-right: 2vw;

}

#navfixe #presta img:last-of-type{

    width: 50px;
}

#navfixe #rse{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2vw;
    padding-right: 10vw;
}


#four{
	position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(images/Green-VAT-System-and-Sustainable-Consumption-and-Production.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
/*#four #fond{
	position: relative;
    width: 100%;
    height:100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 1;
  }*/
#four h2{
	position: relative;
	font-family:'Fredericka the Great', cursive;
	z-index: 3;
	margin: 0 auto;
    padding-top: 45vh;
    text-align: center;
    color: #fff;
    font-size: 2.3rem;
}

#five{
    width: 100%;
    font-family: 'Fredericka the Great', cursive;
    font-size: 1rem;
    text-align: left;
    letter-spacing: 1px;
    font-weight: normal;
    color: #664730;  
    padding: 2%;
}
#five h2{
	text-align: center;
}
#five span{
	width: 40vw;
}
#five p{
    width:80vw;
    line-height: 25px;
    margin: 0 auto;
    text-align: center; 
    font-family: 'Open Sans', sans-serif;
    letter-spacing: none; 
}
#five .qui{
	width: 13%;
	padding-top: 5vh;
	margin-left: 36vw;
	margin-bottom: 2vh;
}
#five #explain p{
    width: 40vw;
    line-height: 25px;
    padding-left: 6%;
    padding-right:3%;
    text-align: left;  
}
#five #explain{
margin-top: 40px;
display: flex;
justify-content: center;
align-items: center;
}
#five #explain img:first-of-type{
	width: 8%;
	margin-left: 2vw;
}
#five #explain .iconhf{
	flex-wrap: nowrap;
	display: flex;
	justify-content: flex-start;
}
#five #explain .iconhf img{
height: 46px;

}
#five #explain .iconhf img:nth-child(2){
	margin-left: 26vw;
	height: 47px;
}

#five h6{
	font-size: 0.9rem;
text-align: center;
	padding: 0;
	margin-top: 1vh;
}
#five ul{
	display:flex;
	justify-content: space-around;
	margin: 0 auto;
	padding: 0;
    padding-bottom: 70px;

}
#five li{
	width: 20vw;
    list-style: none;	
    padding-top: 10px;
    margin: 2vh 2vw;
}
#five li p{
	width: 230px;
	font-size: 0.9rem;
}

#five ul li img{
width:20%;
margin-left: 7vw;
}


#five .banniere{
	width: 80vw;
	height: 50vh;
	margin: 10vh auto;
	border: 2px solid black;
	background-image: url(images/danielle-macinnes-657632-unsplash.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*partie footer*/

footer {
    padding: 2vh;
    background-color: #fff;
    border: 15px solid transparent;
    border-image: url(images/abstract-backdrop-background-129733.jpg)90 round;
}

footer .premierePartie{
    display: flex;
    justify-content: space-around;
}
footer .rubriques{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between;
    padding-top: 2.5vh;
}
footer .mention{
	margin-left: 35%;
    display: inline-block;
}
footer .mention p{
	 display: inline-block;
	margin: auto;
	text-align: center;
    padding-top: 3vh;
    font-size: 0.8rem;
}
footer .paiement{
padding-top: 2.5vh;
}

footer h4 {
    margin: 0 auto;
    letter-spacing: 1px;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: left;
    color: #068445;
    padding-bottom: 1vh;
}
footer  p{
    font-size: 0.8rem;
    margin-top:0;
    margin-bottom: 0;
    color: #664730;
    text-align: none;
}

footer .instfdg{
display: flex;
align-items: center;
justify-content: center;
width: 40vw;
margin-right: 3vw;
margin-left: 3vw;

}

footer .instfdg p{
	text-align: center;
font-size: 1rem;
}

footer .instfdg i{
padding: 0;
}

footer a{
    text-decoration: none;
    color: #664730;
}
footer a:hover{
    text-decoration: none;
}
footer .fb-insta{
    width: 50vw;
    height: 100%;
    margin-left: 3vw;
    padding: 0;
    background-color: #eee;
    border: 2px solid #ddd;
}
footer .paiement img{
    padding-top: 1vh;
    width: 2vw;
    height: 4vh;
}
footer .paiement .tickets{
    width: 6vw;
    height:4.5vh;
}
footer .copy{
 	display: inline-block;
    width: 4%;
    height: 4%;
    margin-left: 0.9vw;
    margin-right: 0.9vw;
}
footer #rse{
	padding-top: 4vh;
}

/*menu burger*/

#burger{
	top: 2vh;
	position: fixed;
	padding-top: 7px;
    left: 44vw;
	width: 66px;
	height: 35px;
    border-radius: 5px;
	background-color: #f5fc0e;
	z-index: 99;
	cursor: pointer;
    display: none;
    transition: 0.8s all ease-in;
}
 #burger .trait{

	display: block;
	width: 26px;
	margin-left: 20px;
	margin-top: 4px;
	background-color: #000;
	height: 2px;
	border-radius: 2px;
}
#burger:hover .tr1{
	margin-top: 10px;
	position: absolute;
	transform:translateY(0);
	transform: rotate(50deg);
	opacity: 0.8;
	transition: all 0.3s;
}
#burger:hover .tr2{
	display: none;
}
#burger:hover .tr3{
	opacity: 0.8;
	margin-top: 10px;
	position: absolute;
	transform:translateY(0);
	transform: rotate(-50deg);
	transition: all 0.3s ease-in;
}
#burger.active{
    transform: translateY(0) rotate(180deg);
    position: absolute;
}

aside{
    position: fixed;
    z-index: 2;
    top:-100vh;
    left: 25%;
    width: 45vw;
    height: 40vh;
    border: 5px solid #fff;
    border-radius: 5px;
    background-color: #f5fc0e;
    box-shadow:  2px 2px 2px #ddd;
    transition: all 0.9s ease;
    overflow:hidden;

}
aside ul{

    margin: 0 auto;
    margin-top: 5vh;
}

aside li{
    padding: 2vh 3.5vw 0vh 5vw;
    width: 100%;
    list-style: none;

}
aside a{
    width: 50%;
    color: #664730;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    font-size: 1.2rem;
}
aside #rse2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
aside #rse2 i{
    font-size: 1.1rem;
    margin: 4vh 4vw 2vh 4vw;

}




@media screen and (min-width: 994px) and (max-width: 1200px){
#navfixe span {
    font-size: 0.6rem;
    padding: 3px;
}
#intro .encart{
    width: 40%
    margin-left:20%;
}
#intro .description .encart p {
    font-size: 1rem;
    padding-bottom: 0;
}

}
@media screen and (min-width: 768px) and (max-width: 993px){


 .paragraphe p{
 	font-size: 1rem;
}
.paragraphe strong{
    font-size: 1.1rem;
}
#one p:first-of-type{
	padding: 20px 10vw 0px 10vw;
}

}
@media screen and (max-width: 767px){
body{
    font-size: 120%;
}
	
#navfixe{
    top: -2000vh;
    display: none;

}
#burger{
    display:block;
    height: 25px;
    width: 56px;
    padding-top: 3px;
}
#burger .trait{
   margin-left: 15px;
    margin-top: 3px;

}
aside{
    height: auto;
    width: 220px;
}
aside ul{
    padding-top: 1%;
    text-align: left;
    padding-left: 12%;
}
aside li a{
    font-size: 1rem;
    text-align: center;
}
.active{
    overflow:visible;
    top: 1.5vh;

 }

}